In [14]:
import pandas as pd
from datetime import datetime

In [2]:
sinistri = pd.read_csv('sinistri.csv', delimiter=';')
sinistri['targa'] = sinistri['COD_TARGA_TELAIO']
del sinistri['Unnamed: 13']
sinistri.head()

,COD_MULTICOMPAGNIA,COD_AGENZIA,DAT_ESER_RUBRICAZ,COD_DANNO,RESP_CIVILE,DAT_AVVENIM_DANNO,DES_LUOGO_DANNO,COD_PROVINCIA,COD_DANNO.1,COD_CONTRATTO,COD_TARGA_TELAIO,IND_STATO_DANNO,DES_STATO_DANNO,targa
0,5.0,59.0,2018.0,4.0,1.0,06/01/2018 00:00,VIA IGNOTA,MI,4.0,28303218.0,FF203PF,2.0,CHIUSO,FF203PF
1,5.0,59.0,2018.0,18.0,1.0,21/01/2018 00:00,MILANO,MI,18.0,28303218.0,FF135VA,2.0,CHIUSO,FF135VA
2,5.0,59.0,2018.0,26.0,1.0,05/02/2018 16:30,CSO 22 MARZO 29,MI,26.0,28303218.0,FM589BK,2.0,CHIUSO,FM589BK
3,5.0,59.0,2018.0,27.0,1.0,10/01/2018 00:40,SANTA MARGHERITA PROTASO,MI,27.0,28303218.0,FF186PG,2.0,CHIUSO,FF186PG
4,5.0,59.0,2018.0,28.0,1.0,02/02/2018 12:35,PZZA XXV APRILE,MI,28.0,28303218.0,FM533BK,2.0,CHIUSO,FM533BK

In [3]:
targhe = pd.read_csv('targa2voucher.csv', delimiter=';')
targhe.head()

   newvoucherid  contractid    targa
0         46504       38861  DE558MK
1        132581      122354  FG318ZK
2        284133      270876  EY631ZW
3        290128      263601  EZ313RE
4        385453      244737  FM733BJ

In [10]:
df = pd.merge(sinistri, targhe, on='targa', how='left')
df.head()

,COD_MULTICOMPAGNIA,COD_AGENZIA,DAT_ESER_RUBRICAZ,COD_DANNO,RESP_CIVILE,DAT_AVVENIM_DANNO,DES_LUOGO_DANNO,COD_PROVINCIA,COD_DANNO.1,COD_CONTRATTO,COD_TARGA_TELAIO,IND_STATO_DANNO,DES_STATO_DANNO,targa,newvoucherid,contractid
0,5.0,59.0,2018.0,4.0,1.0,06/01/2018 00:00,VIA IGNOTA,MI,4.0,28303218.0,FF203PF,2.0,CHIUSO,FF203PF,NaN,NaN
1,5.0,59.0,2018.0,18.0,1.0,21/01/2018 00:00,MILANO,MI,18.0,28303218.0,FF135VA,2.0,CHIUSO,FF135VA,NaN,NaN
2,5.0,59.0,2018.0,26.0,1.0,05/02/2018 16:30,CSO 22 MARZO 29,MI,26.0,28303218.0,FM589BK,2.0,CHIUSO,FM589BK,385566.0,257577.0
3,5.0,59.0,2018.0,27.0,1.0,10/01/2018 00:40,SANTA MARGHERITA PROTASO,MI,27.0,28303218.0,FF186PG,2.0,CHIUSO,FF186PG,NaN,NaN
4,5.0,59.0,2018.0,28.0,1.0,02/02/2018 12:35,PZZA XXV APRILE,MI,28.0,28303218.0,FM533BK,2.0,CHIUSO,FM533BK,385462.0,248267.0

In [11]:
len(df)

266

In [12]:
df['data'] = pd.to_datetime(df['DAT_AVVENIM_DANNO'], format='%d/%m/%Y %H:%M')
df.head()

,COD_MULTICOMPAGNIA,COD_AGENZIA,DAT_ESER_RUBRICAZ,COD_DANNO,RESP_CIVILE,DAT_AVVENIM_DANNO,DES_LUOGO_DANNO,COD_PROVINCIA,COD_DANNO.1,COD_CONTRATTO,COD_TARGA_TELAIO,IND_STATO_DANNO,DES_STATO_DANNO,targa,newvoucherid,contractid,data
0,5.0,59.0,2018.0,4.0,1.0,06/01/2018 00:00,VIA IGNOTA,MI,4.0,28303218.0,FF203PF,2.0,CHIUSO,FF203PF,NaN,NaN,2018-01-06 00:00:00
1,5.0,59.0,2018.0,18.0,1.0,21/01/2018 00:00,MILANO,MI,18.0,28303218.0,FF135VA,2.0,CHIUSO,FF135VA,NaN,NaN,2018-01-21 00:00:00
2,5.0,59.0,2018.0,26.0,1.0,05/02/2018 16:30,CSO 22 MARZO 29,MI,26.0,28303218.0,FM589BK,2.0,CHIUSO,FM589BK,385566.0,257577.0,2018-02-05 16:30:00
3,5.0,59.0,2018.0,27.0,1.0,10/01/2018 00:40,SANTA MARGHERITA PROTASO,MI,27.0,28303218.0,FF186PG,2.0,CHIUSO,FF186PG,NaN,NaN,2018-01-10 00:40:00
4,5.0,59.0,2018.0,28.0,1.0,02/02/2018 12:35,PZZA XXV APRILE,MI,28.0,28303218.0,FM533BK,2.0,CHIUSO,FM533BK,385462.0,248267.0,2018-02-02 12:35:00

In [15]:
df = df[df['data']<=datetime.strptime('2018-10-31', '%Y-%m-%d')]
df = df[df['data']>=datetime.strptime('2018-02-12', '%Y-%m-%d')]
len(df)

195

In [16]:
df.head()

,COD_MULTICOMPAGNIA,COD_AGENZIA,DAT_ESER_RUBRICAZ,COD_DANNO,RESP_CIVILE,DAT_AVVENIM_DANNO,DES_LUOGO_DANNO,COD_PROVINCIA,COD_DANNO.1,COD_CONTRATTO,COD_TARGA_TELAIO,IND_STATO_DANNO,DES_STATO_DANNO,targa,newvoucherid,contractid,data
9,5.0,59.0,2018.0,43.0,1.0,12/02/2018 20:55,VIA TURATI 29,MI,43.0,28303218.0,FM021BL,2.0,CHIUSO,FM021BL,385743.0,267102.0,2018-02-12 20:55:00
10,5.0,59.0,2018.0,44.0,1.0,03/03/2018 00:00,VIALE FILARETI 29,MI,44.0,28303218.0,FM869BY,2.0,CHIUSO,FM869BY,385697.0,265948.0,2018-03-03 00:00:00
11,5.0,59.0,2018.0,48.0,1.0,02/03/2018 00:00,P.ZZA ASPROMONTE/VIA PECCHIO,MI,48.0,28303218.0,FM899BT,0.0,PENDENTE,FM899BT,NaN,NaN,2018-03-02 00:00:00
12,5.0,59.0,2018.0,50.0,1.0,11/03/2018 00:00,VIA CHINOTTO,MI,50.0,28303218.0,FM062BR,2.0,CHIUSO,FM062BR,385473.0,248746.0,2018-03-11 00:00:00
13,5.0,59.0,2018.0,52.0,1.0,08/03/2018 22:45,VIA NOVARA,MI,52.0,28303218.0,FM597BV,0.0,PENDENTE,FM597BV,385591.0,263904.0,2018-03-08 22:45:00

In [17]:
dfd = df.dropna(subset=['contractid','DAT_AVVENIM_DANNO'])
len(dfd)

190

In [32]:
luoghi = dfd.dropna(subset=['DES_LUOGO_DANNO'])['DES_LUOGO_DANNO']
l = list(luoghi)
l = [luogo.strip().strip(',') for luogo in l if luogo.strip().strip(',')\
     not in ['VIA', 'MILANO', 'IGNOTO', 'IGNOTA','LUOGO NON INDICATO', 'X']]
print(len(l))
l

77

['VIA TURATI 29',
 'VIALE FILARETI 29',
 'VIA CHINOTTO',
 'VIA NOVARA',
 'CORSO LODI',
 'VIA PADOVA 115',
 'V.LE E FERMI',
 'VIA CENISIO',
 'VIA LOMELLINA 7',
 'VIA MONTI 2',
 'VIA TURATI 40',
 'VIA SARDEGNA',
 'V.LE TOSCANA',
 'VIA GIACOSA/VIALE MONZA',
 'VIA CASSINIS 66',
 'VIA VARE',
 'VIA LUIGI FIGINI',
 'VIA TIVOLI',
 'VIA ETTORE PONTI',
 'VIA TOLSTOJ 106',
 'VIA LODOVICO IL MORO',
 "VIA SANT'ERLEMBARDO 3",
 'VIA CHIESA / VLE SARCA',
 'VIALE MONTE GRAPPA',
 'VA CRISPI 6',
 'VIA COL DI LANA',
 'VIA MOLINO DELLE ARMI',
 'VIA TOFFETTI 18',
 'FIAMMA/22 MARZO',
 'P.ZZA FIDIA',
 'VIA MERCATO',
 'VIA CHERASCO',
 'VIALE MISURATA 9',
 'VLE PAPINIANO',
 'VIA F PECORARI 7',
 'V.LE TIBALDI',
 'VIALE CAMPAGNA',
 'VLE MONZA',
 'VIA MELCHIORRE GIOIA INCROCIO VIA GIOVAN BATTISTA PIRELLI',
 'VIALE CATERINA DA FORLI , 14 ANGOLO VIA FORNARI',
 'VIA SAN MARTINI 52',
 "VIA SANT'ELENA 5",
 'VIA VARESINA 47',
 'CORSO MONCALIERI',
 'VIA DE BIANCHI',
 'CSO LODI',
 'PIAZZALE VELASQUEZ ANGOLO VIA OSOPPO',
 'VIA CORREGGIO 8',
 'VIA MANCINELLI',
 'VIA CANONICA / VIA BALESTRERI',
 'STAZIONE CENTRALE',
 'VIA WITTGENS',
 'VIA MIKE BUONGIORNO',
 'VIA V PISANI',
 'VLE PAPINIANO',
 'VIA VASARI / V.LE LAZIO',
 'V.LE ROMAGNA 74',
 'P.ZZALE CANTORE',
 'VIA GALILEO',
 'CSO EUROPA 20',
 'VIA SAN VITO',
 'VLE GASSALA',
 'VLE CASSALA 23',
 'V.LE FORLANINI',
 'VIA BERGOGNONE',
 'VIA PLUTARCO 9',
 'VIA NEGROLI',
 'VIA PORPORA 42',
 'VIA FLAMINIO',
 'PZZA XXIV MAGGIO',
 'BICCINASCO',
 'STAZIONE CENTRALE',
 'PARCHEGGIO FAMILA',
 'VIA SAN GREGORIO 46',
 'VIA DIOOMEDE',
 'CSO 22 MARZO',
 'PZZALE CANTORE']